# --- Redis ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- Elasticsearch ---
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_SCHEMA=http://
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX=movies

# --- Postgres ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=theatre
POSTGRES_HOST=theatre-db
POSTGRES_PORT=5432

# --- Django admin ---
DEBUG=True
SECRET_KEY=change-me-please
SQL_ENGINE=django.db.backends.postgresql_psycopg2
SQL_HOST=theatre-db
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres
