
DATABASE_TYPE=postgres
POSTGRES_DB=theatre
SQL_HOST=movies_db
SQL_PORT=5432
PG_DSN_OPTIONS="-c%20search_path%3Dcontent%2Cpublic"

PG_DSN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${SQL_HOST}:${SQL_PORT}/${POSTGRES_DB}?options=${PG_DSN_OPTIONS}
ES_DSN=http://elasticsearch:9200
POLL_INTERVAL_SECONDS=30
MAX_RETRIES=5
PG_FETCH_SIZE=100
ES_BULK_SIZE=500
ES_INDEX_NAME=movies
